html,
body {
  padding: 0;
  margin: 0;
  background-color: #D8DBD6;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper{
  padding: 0 20px;
}

.google{
  width: 100%;
  background-color: black !important;
  color: white !important;
  margin-bottom: 10px;
}

.facebook{
  width: 100%;
  background-color: #4C69BA;
  color: white;
  padding: 20px;
  font-weight: bold;
  border: none;
  font-size: 1.4rem;
}